In [1]:
import pandas as pd
from scipy import stats

In [2]:
heart=pd.read_csv('heart.csv')
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,patient_id
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0,1.0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0,2.0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0,3.0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0,5.0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0,8.0

In [3]:
#DATA TRANSFORMATION
from sklearn.preprocessing import LabelEncoder
scaler=LabelEncoder()
heart['patient_id']=scaler.fit_transform(heart['patient_id'])

heart.loc[heart['chol']<200, 'chol']=heart['chol'].mean()
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,patient_id
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0,1
2,70,1,0,145,246,0,1,125,1,2.6,0,0,3,0,2
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0,3
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0,4

In [4]:
#ERROR HANDLING (ZSCORES - DISTANCE FROM STANDARD DEVIATION)
zscore=stats.zscore(heart['trestbps'])
heart_no_outliers=heart[(zscore<3)]
heart

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,patient_id
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0,1
2,70,1,0,145,246,0,1,125,1,2.6,0,0,3,0,2
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0,3
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1,153
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0,153
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0,153
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1,153
1024,54,1,0,120,246,0,1,113,0,1.4,1,1,3,0,153

In [5]:
#data transformation and DATA MODEL BUILDING

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor

x=heart.iloc[:, :-1]
y=heart['target']
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.2, random_state=42)

scaler=StandardScaler()
x_train_scaled=scaler.fit_transform(x_train)
x_test_scaled=scaler.transform(x_test)

model=RandomForestRegressor()
model.fit(x_train_scaled, y_train)

accuracytrained=model.score(x_train_scaled, y_train)
accuracytest=model.score(x_test_scaled, y_test)

print("accuracy of trained model: ", accuracytrained)
print("accuracy of test model: ", accuracytest)

accuracy of trained model:  1.0
accuracy of test model:  1.0